<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Button Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="prideText">Happy Pride Month</h1>

    <button id="colorButton" class="red-button">Click Me</button>

    <button id="exitButton" class="exit-button">Exit</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>